NODE_ENV=development
APP_NAME=auction-platform-backend
PORT=3000
CORS_ORIGIN=http://localhost:3001

JWT_SECRET=replace_with_secure_secret
JWT_EXPIRES_IN=1h
GOOGLE_CLIENT_ID=replace_with_google_client_id

MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=auction_platform
REDIS_URL=redis://redis:6379

AGORA_APP_ID=replace_with_agora_app_id
AGORA_APP_CERTIFICATE=replace_with_agora_app_certificate

STRIPE_SECRET_KEY=replace_with_stripe_secret
IYZICO_API_KEY=replace_with_iyzico_api_key
